body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4e1c5;
    background-image: url("C:/Users/manoj/OneDriveDesktop/Project/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

header {
    background-color: #876047;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 20px; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}

nav ul li a:hover {
    color: #6c4933; 
}

footer {
    background-color: #876047; 
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
h1 {
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
}

.image-right-index {
    position: absolute;
    top: 230px; 
    right: 35px; 
    width: 330px; 
    opacity: 0.8; 
    border-radius: 10px;
}
.image-right-index2 {
    position: absolute;
    top: 670px; 
    right: 35px; 
    width: 330px; 
    opacity: 0.8; 
    border-radius: 10px;
}





/* Specific styles for index.html */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    padding: 20px;
}

section {
    max-width: 600px; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

section p {
    margin: 10px 0; 
}







/* Specific styles for code.html */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.code-nav ul li a {
    text-decoration: none;
    color: #7e573e; 
    font-weight: bold;
}

.image-container {
    max-width: 100%;
    max-height: 500px; 
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    opacity: 0.6;
}

#code {
    max-width: 700px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(192, 64, 64, 0.1);
    color: rgb(113, 60, 16);
}

#code h2 {
    text-align: center;
}

#code ul {
    list-style-type: none;
    padding: 0;
}

#code ul li {
    margin-bottom: 10px;
}

/*link colour*/
#code ul li a {
    color: #401d07;
    text-decoration: none;
}

/*hover over link colour*/
#code ul li a:hover {
    color: #ab681b;
}





/* CSS for visualization.html */

body {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(244, 225, 197, 0.7); 
    z-index: -1;
    pointer-events: none; 
}

header {
    background-color: #876047;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.image-gallery {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px;
    max-width: 100%; 
}

.image-gallery .image-item img {
    display: block;
    width: 900px; 
    height: auto;
    max-width: 100%; 
    opacity: 0.7; 
}

.image-gallery .image-item img {
    display: block;
    width: 900px; 
    height: auto;
    max-width: 100%; 
}

.image-gallery .image-item h2 {
    font-weight: bold;
}

body.visualization {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("C:/Users/manoj/OneDrive/Desktop/Project/picture2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav.visualization-nav ul li a {
    text-decoration: none;
    color: #7e573e; 
    font-weight: bold;
}





/* Conclusions.html */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

section {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section p {
    margin: 10px 0; 
}

footer {
    background-color: #876047; 
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

body.conclusions {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("C:/Users/manoj/OneDrive/Desktop/Project/conclusion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-left {
    position: absolute;
    top: 300px; 
    left: 20px; 
    width: 350px;
    opacity: 0.7;
    border-radius: 10px
}

.image-leftb {
    position: absolute;
    top: 630px; 
    left: 20px; 
    width: 350px;
    opacity: 0.7;
    border-radius: 10px
}

.image-right {
    position: absolute;
    top: 300px; 
    right: 35px; 
    width: 350px; 
    opacity: 0.8;
    border-radius: 10px 
}

.image-rightb {
    position: absolute;
    top: 630px; 
    right: 35px; 
    width: 350px; 
    opacity: 0.8; 
    border-radius: 10px
}

nav.conclusions-nav ul li a {
    text-decoration: none;
    color: #8e5e41; 
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}





/* Help.html */

#right-block {
    position: fixed;
    top: 41%;
    right: 38%;
    transform: translate(50%, -50%);
    width: 1000px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #000; 
}
#right-blockb {
    position: fixed;
    top: 70%;
    right: 38%;
    transform: translate(50%, -50%);
    width: 1000px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #000; 
}



























 